<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">
	<listeners>
		<listener
			class-name="com.saucedemo.listener.AnnotationTransformer" />
	</listeners>
	<test name="SauceDemoTest" thread-count="1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.saucedemo.testcases.TC0001_LoginTest_ValidCredential" />
			<class name="com.saucedemo.testcases.TC0002_LoginTest_InvalidPassword" />
			<class name="com.saucedemo.testcases.TC0003_LoginTest_InvalidUsername" />
			<class name="com.saucedemo.testcases.TC0004_LoginTest_MaskedPassword" />
			<class name="com.saucedemo.testcases.TC0005_LoginTest_UnmaskedUsername" />
			<class name="com.saucedemo.testcases.TC0006_LoginTest_WithoutPassword" />
			<class name="com.saucedemo.testcases.TC0007_LoginTest_WithoutUsername" />
			<class name="com.saucedemo.testcases.TC0008_LoginTest_LockedUser" />
			<class name="com.saucedemo.testcases.TC0009_LoginTest_UsernameInPlaceholder" />
			<class name="com.saucedemo.testcases.TC0010_LoginTest_PasswordInPlaceholder" />
			<class name="com.saucedemo.testcases.TC0101_AddAndRemoveSingleProductFromCart" />
			<class name="com.saucedemo.testcases.TC0102_AddAndRemoveMultipleProductsFromCart" />
			<class name="com.saucedemo.testcases.TC0501_OrderCheckout" />
		</classes>
	</test>
</suite>